*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.interface{
    max-width: 1280px;
    margin:0 auto;
}

header{
    width: 100%;
    background-color: #424147;
}

.topo-header{
    background-color: #fff;
    padding: 20px 4%;
}

.topo-header .logotipo img{
    width: 150px;
    height: 100px;
    margin-left: 100px;
}

.topo-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo-header .btn-header i{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: black;
    padding: 0 8px;
    
}
.topo-header .btn-header p{
    font-size: 20px;
    text-align: center;
    color: black;
}
.btn-header a{
    text-decoration: none;
}

.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
} 

.bottom-header nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    display: block;
    transition: .2s;
}

.bottom-header nav ul li a:hover{
    background-color: aquamarine;
    color: #424147;
    box-shadow: inset 0 0 8px #00000044;
}

.drop-hover{
    position: relative;
}

.drop-hover .dropdown{
    position: absolute;
    background-color: #47464a;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.drop-hover .dropdown a{
    padding: 20px;
}

.drop-hover:hover .dropdown{
    height: 250px;
}